/*
fonts for reference :
font-family: 'Poiret One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Press Start 2P', cursive;
font-family: 'Forum', cursive;
font-family: 'Coda', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Raleway Dots', cursive;
*/
@import url("components/footers.css");
@import url("components/logos.css");

body {
  font-family: 'Raleway Dots', cursive;
  background-color: white;
}



h1 {
font-family: 'Poiret One', cursive;
  font-size: 50px;
}

p {
  font-size: 20px;
}

