
.banner {
  height: 90vh;
  background: url('../../images/clouds3.jpg');
  background-size:cover;
  position:relative;
  transform: translateZ(-2px) scale(2);
  z-index: -1;
  padding-top:180px;
}

.banner a {
  color:#8a8a9c;
  font-size:40px;
}

.arrow-wrapper {
  position:absolute;
  top:90vh;
}

.display {
  background:white;
  height:250px;
  width:400px;
  border-radius:20px;
  p {
    margin:20px;
  }
}

