<div class="social-media-footer" id="social">
    <div class="social-media-headline">
      <h2>Follow me:</h2>
    </div>
    <ul class="inline-list">
      <li>
        <a href="https://github.com/sbalsom" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sadie-codes/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <div id="contact">
      <h3>sadielogsin@gmail.com</h3>
    </div>
  </div>