<h2>My Projects: </h2>
          <div class="content">
            <div class="content__flex-wrapper">
              <carousel>
                <div class="portfolio slideshow-container" id="portfolio">
                  <!--           slider item 1 -->
                  <div class="portfolio__coming-soon portfolio__slide fade">
                    <h3>Is The Moon Void ?</h3>
                    <a href="http://www.isthemoonvoid.com/" target=”_blank”>
                      <div class="portfolio__image" id="moon" ></div>
                    </a>
                    <div class="portfolio__coming-soon-text">
                      <p>Inspired by <a href="http://isitfridayyet.net/" target=”_blank”>isitfridayyet.com</a>, the moon website is a handy tool for astrologers to tell whether the moon is currently void of course. It scrapes two calendars to check for ingresses and current sign the moon is in.</p>
                    </div>
                  </div>
                  <!--           slider item 2 -->
                  <div class="portfolio__coming-soon portfolio__slide fade">
                    <h3>Hobby Stocks</h3>
                    <a href="https://github.com/sbalsom/hobby_stocks/" target=”_blank”>
                      <div class="portfolio__image" id="stocks" ></div>
                    </a>
                    <div class="portfolio__coming-soon-text">
                      <p>A hobby project that streams cryptocurrency prices from Tiingo websockets Api </p>
                    </div>
                  </div>
                  <!--           slider item 3 -->
                  <div class="portfolio__coming-soon portfolio__slide fade">
                    <h3>Astrology API</h3>
                    <a href="https://horoscope-api-site.herokuapp.com/" target=”_blank”>
                      <div class="portfolio__image" id="astrology" ></div>
                    </a>
                    <div class="portfolio__coming-soon-text">
                      <p>The Astrology API scrapes several publications across the web that have a weekly, daily, or monthly horoscopes section, and compiles the results in a in a public-facing API. The API is accessible to anyone with the url, and allows users to search for and sort horoscopes by publication, date, author name, keywords, sign, and mood.</p>
                    </div>
                  </div>
                  <!--           slider item 4 -->
                  <div class="portfolio__coming-soon portfolio__slide fade">
                    <h3>Python Dictionary App</h3>
                    <a href="https://github.com/sbalsom/python-dictionary-app" target=”_blank”>
                      <div class="portfolio__image" id="dictionary"></div>
                    </a>
                    <div class="portfolio__coming-soon-text">
                      <h3>Weird Dict</h3>
                      <p>The backend API for a simple dictionary app, written in Python using Flask. More info coming soon ! .</p>
                    </div>
                  </div>
                  <!--  side nav -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <!--  bottom nav -->
                <div class="dots">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </carousel>
          </div>