
.banner {
  height: 150vh;
  background: url('../../images/clouds3.jpg');
  background-size:cover;
  position:relative;
  -webkit-transform: translateZ(-2px) scale(2);
          transform: translateZ(-2px) scale(2);
  z-index: -1;
  padding-top:180px;
}

.arrow-wrapper {
  position:absolute;
  top:90vh;
}

.display {
  padding: 20px;
  background:white;
  margin-top:30px;
  width:450px;
  border-radius:20px;
  color: grey;
  font-family:'Courier New', Courier, monospace
}

.display h2 {
  text-align: center;
}

.poetry-list li {
  list-style: none;
  display:flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  padding-bottom: 20px;
  border-bottom: grey 0.5px solid;
}

.display a {
  color: rgb(241, 77, 165);
  text-decoration: none;
} 
.display a:visited {
   color: pink;
} 

.display a:hover {
  color: #f7c78e;
}

.poem-title {
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.review-title {
font-size: 14px;
}

.poem-extra {
  font-size: 14px;
  color: grey;
}