.circle-wrapper {
  border:dashed 5px white;
  margin:0 20px;
  border-radius:50%;
  padding:15px;
  height:250px;
  width:250px;
  min-width:250px;
}

.circle {
  background: white;
  border-radius:50%;
  height:inherit;
}

.circle h3, .circle p {
  color:black;
}
