
/*section styles*/

.content {
  background:#21211e;
  -webkit-box-shadow:#21211e 0 0 20px 20px;
          box-shadow:#21211e 0 0 20px 20px;
  position:relative;
  z-index:0;
  padding:100px 30px;
}

.content h2, .content h3, .content p, .content a {
  font-family: 'Quicksand', sans-serif;
}


.large-text p, .large-text a {
  font-size:1rem;
  text-align:left;
  color:grey;
}

.content__flex-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.content__right-half, .content__left-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
}

.content h2 {
  color:white;
}

/*right half styles*/

.bio__text {
  border: 3px solid white;
  max-width: 540px;
  border-radius: 20px;
  padding: 20px;
  background:white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bio__text a {
  color: #d23d29;
  text-decoration:none;

}

.bio__text a:hover {
  color: #df96ba;
  text-decoration:none;

}


/*left half styles*/

#headshot {
  background-image: url('../../images/headshot.jpg');
  background-size:cover;
}

.portfolio {
  border: 3px solid white;
  border-radius:20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:590px;

}

.portfolio h3 {
  text-align: center;
}

.portfolio__featured-text, .portfolio__coming-soon-text {
  max-width:500px;
}

.portfolio__coming-soon, .portfolio__featured {
  background:white;
  padding:20px;
  border-radius:5px;
  height:100%;
}

.portfolio__featured {
  max-width: 500px;
}

.portfolio__featured h2 {
  text-align:center;
}
.portfolio__featured-text p,  .portfolio__coming-soon-text p, .portfolio__featured h2, .portfolio__coming-soon h3, .portfolio h3 {
  color:grey;
}

@media only screen
  and (max-width: 550px) {
  .portfolio__featured-text p,  .portfolio__coming-soon-text p {
    font-size: .85rem;
  }
  .bio__text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.portfolio__coming-soon {
  margin: 10px 0;
}

.portfolio__image {
  margin: 20px 0;
  width:100%;
  max-width:500px;
  min-height:300px;
  background-size:cover;
  background-position:center;
  border-radius:5px;
}

@media only screen
  and (max-width: 550px) {
    .portfolio__image {
      background-size:cover;
      min-height: 152px;
    }
    .portfolio {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
  }


#iwell {
  background-image: url('../../images/iwell-1.png');
}

#astrology {
  background-image:  url('../../images/astro.png');
}

#jamendo {
  background-image: url('../../images/jamendo.png');
  background-position:top;

}

