
.content {
  height:2000px;
  background:#9cc6e6;
  -webkit-box-shadow:#9cc6e6 0 0 20px 20px;
          box-shadow:#9cc6e6 0 0 20px 20px;
  position:relative;
  z-index:0;
  padding:100px 30px;
}

.content h2 {
  font-family: 'Quicksand', sans-serif;
  color:white;
}

.large-text p {
  color:white;
  font-size:20px;
  text-align:center;
}

.bio {
  width:500px;
}

#coming-soon {
  text-align:center;
}

.card {
  margin: 0 0 100px 0;
}

.flex-1 {
  h2 {
    font-size:30px;
  }
  p {
    color:white;
    font-size: 20px;
  }
}
