#girl {
  visibility:hidden;
}

#pom {
  /* visibility: hidden; */
/* z-index: 2; */
/* position: absolute; */
/* top: 200px;
right: 100px; */
margin-top: 5vw;
margin-right: 10vw;
}

#info-box {
  visibility: hidden;
}

#rose {
  /* visibility: hidden; */
  position: absolute;
  top: 70vh;
  right: 0;
}

.floating-1 {
  z-index: -1;
  position: absolute;
  top: 192px;
  left: -45px;
}



@media only screen and (max-width: 550px) {
  .floating-1,
  .floating-2,
  .floating-3 {
    visibility: hidden;
  }
}
