
.floating-1 {
   z-index:1;
   position:absolute;
   top:60vh;
   left:30px;
}

.floating-2 {
   z-index:2;
   position:absolute;
   top:200px;
   right:100px;
}

.floating-3 {
   position:absolute;
   top:490px;
   right:0;
}


@media only screen
  and (max-width: 550px) {
  .floating-1, .floating-2, .floating-3 {
    visibility: hidden;
  }
}
