
.social-media-footer {
  margin: auto;
  margin-top:50px;
  text-align: center;
  z-index:999;
  width:100%;
  background-color :white;
  height:150px;

}

.inline-list {
  list-style: none;
  padding:0;

}

.inline-list li {
  display: inline-block;

}

 .social-media-headline {
  font-family: 'Poiret One', sans-serif;
  text-decoration: none;
  color: black;
}

 .social-media-footer i {
  color: #df96ba;
  font-size: 50px;
  margin:0 20px;
}

 .social-media-footer i:hover {
  color: #f7c78e;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .social-media-footer {
      height:11vh;
      padding: 0 0 4vh 0;
      }

      .social-media-footer i {
        color: #df96ba;
        font-size: 6em;
        margin:0 20px 0 0;

      }

      .social-media-headline {
        font-size:2em;
      }

      .inline-list {
        padding-bottom:10vh;
      }



    }


