
.header {
    display:flex;
    height:170px;
    position:fixed;
    background:white;
    width:100vw;
    padding-bottom: 15px;
    padding-left:5vh;
    z-index:999;
}

.header a {
  margin:0 10% 10% 0;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  color:#f593c7;

}

.header a:hover {
  color: #f7c78e;
}

.header__headline {
  height:20vh;
}

.header__headline h1 {
  margin: 0 0 0 0;
  position:absolute;
  top: 14px;
  font-size: 43px;
}

.header__headline h3 {
  margin: 0 0 0 0;
  position:absolute;
  top: 69px;
}
.header__headline .nav {
  position: absolute;
  top: 113px;
  width: 100%;

}

@media only screen
  and (max-width: 550px) {

  .header__headline .nav {
    visibility:hidden;
  }

  .header__headline h1 {
  text-align:center;
  }

  .header__headline h3 {
  }

   .header {
    height: 100px;
   }

  .header a {
    margin:0;
    color:black;
  }

  .banner {
    padding-top:113px;
  }

}
