
.header-nav-desktop {
    display:flex;
    height:170px;
    position:fixed;
    background:white;
    width:100vw;
    padding-bottom: 15px;
    padding-left:5vh;
    z-index:999;
}

.header-nav-desktop a {
  margin:0 10% 10% 0;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  color:#f593c7;

}

.header-nav-desktop a:hover {
  color: #f7c78e;
}


.headline h1 {
  margin: 0 0 0 0;
  position:absolute;
  top: 14px;
  font-size: 43px;
}

.headline h3 {
  margin: 0 0 0 0;
  position:absolute;
  top: 69px;
}
.headline .nav {
  position: absolute;
  top: 113px;
  width: 100%;

}

@media only screen
  and (max-width: 550px) {

  .headline .nav {
visibility:hidden;
  }

  .header-nav {
/*    height: 30vh;
    flex-direction: column;*/
  }

  .headline h1 {
  text-align:center;
  }

  .headline h3 {
  }

   .header-nav-desktop {
    height: 100px;
   }

  .header-nav-desktop a {
    margin:0;
/*    font-size: 5em;
    margin:0 0 8px 0;*/
    color:black;
  }

  .banner {
    padding-top:113px;
  }

  .floating-1, .floating-2, .floating-3 {
    visibility: hidden;
  }
}
