
.header-nav-desktop {
    display:flex;
    position:fixed;
    background:white;
    width:100vw;
    padding-bottom: 15px;
    padding-left:5vh;
    z-index:999;
}

.header-nav-desktop a {
  margin:0 10% 10% 0;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  color:#f593c7;

}

.header-nav-desktop a:hover {
  color: #f7c78e;
}


.headline h1 {
  margin: 0 0 0 0;
  position:absolute;
  top: 14px;
  font-size: 43px;
}

.headline h3 {
  margin: 0 0 0 0;
  position:absolute;
  top: 69px;
}
.headline .nav {
  position: absolute;
  top: 113px;
  width: 100%;

}

@media(max-width: 700px) {
  .header-nav {
    overflow:scroll;
  }

}

@media(max-width: 500px) {

  .headline .nav {
    top: 66px;
    left: 27px;
    display: flex;
    flex-direction: column;
  }

  .header-nav {
    height: 30vh;
    flex-direction: column;
    overflow:scroll;
  }

  .headline h1 {
    font-size: 45px;
    top: 10px;
    left: 27px;
    font-family: 'Raleway Dots', 'Arial', sans-serif;
    color:#ff47f6;
  }

  .headline h3 {
    visibility:hidden;
  }

  .header-nav a {
    font-size: 41px;
    margin:0 0 8px 0;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .headline .nav {
    top: 11vh;
    left: 3vh;
    display: flex;
    flex-direction: column;
  }

  .header-nav {
    height: 30vh;
    flex-direction: column;
  }

  .headline h1 {
    font-size: 7vh;
    top: 2vh;
    left: 3vh;
    font-family: 'Raleway Dots', 'Arial', sans-serif;
    color:#ff47f6;
  }

  .headline h3 {
    visibility:hidden;
  }

  .header-nav a {
    font-size: 5em;
    margin:0 0 8px 0;
    color:black;
  }
    }
