.inner-content {

  position:absolute;
  top: 142px;
  overflow:scroll;
  padding-bottom:200px;
  width:100%;
  display:flex;
  justify-content:center;

}


.display-card {
  max-width:700px;
  align-self: center;
  display:flex;
  margin: 10vh 10vh;
  border-radius: 7px;
  box-shadow: #bfbfbf 0px 0px 10px 0px;
}

.card-image-1, .card-image-2, .card-image-3 {
  width:200px;
  height:175px;
}

.card-image-1 {
  background-image: url('../images/db.png');
  background-size:cover;
}

.card-image-2 {
  background-image: url('../images/screen-8.png');
  background-size:cover;
}

.card-image-3 {
 background-image: url('../images/branding.png');
 background-size:cover;
}
.card-text {
  width:300px;
  height:150px;
  padding: 10px 20px;
  color:grey;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.inner-content {

  position:absolute;
  top: 400px;
}
    }









