
.social-media-footer {

  margin: auto;
  margin-top:50px;
  text-align: center;
  z-index:999;
  position:fixed;
  bottom:0;
  width:100%;
  background-color :white;

}

.inline-list {
  list-style: none;
  padding:0;


}

.inline-list li {
  display: inline-block;

}

 .social-media-headline {
  font-family: 'Raleway Dots', cursive;
  text-decoration: none;
  color: black;

}

 .social-media-footer i {
  color: #99b19c;
  font-size: 50px;
  margin:0 20px;
}

 .social-media-footer i:hover {
  color: rgba(124,10,255,0.34);
}


