.header-banner {
  padding: 25% 0 0 0;
  margin:0 0 16px 0;
}


.header-nav a {
  margin:0 0 16px 0;
  font-size: .8em;
  text-decoration: none;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  color:black;
}

.header-nav a:hover {
  color: #BEDFDC;
}

@media(max-width: 400px) {
  .header-nav {
    flex-flow:column;
  }
  .header-nav a {
    text-align:center;

  }
}
@media screen and (max-width: 960px) {
  .header-banner {
    background-image: url("/images/rectangle-2.png");
    background-repeat: no-repeat;
  }
}
