
#logo {

  width:150px;
  height:150px;
  margin-right: 5vw;
}

@media(max-width: 500px) {
  #logo {
    visibility: hidden;
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #logo {
    visibility: hidden;
  }
  }
