svg {
      width:150px;
      height:150px;
      margin:16px;
    }

@media screen and (max-width: 960px) {
  .header-corner {
    background-image: url("/images/rectangle-2.png");
    background-repeat: no-repeat;
  }
}
