svg {
      width:150px;
      height:150px;
      margin:16px;
    }

.header-corner {
  padding: 25% 0 0 0;
}

@media screen and (max-width: 960px) {
  .header-corner {
    background-image: url("/images/rectangle-2.png");
    background-repeat: no-repeat;
  }
}
