
.cd-panel-about, .cd-panel-contact {
  /*...*/
  visibility: hidden;
  transition: visibility 0s 1s;
}

.cd-panel-about.cd-panel--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;

}

.cd-panel-contact.cd-panel--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;

}

.cd-panel__container {
  width: 80%;
  height: 100vh;
  top: 58px;
  position: fixed;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.3s;
  margin: 92px 0 0 0;
  color:white;
  padding:20px;
  z-index:999;
}

@media(max-width: 500px) {
  .cd-panel__container {
    margin: 179px 0 0 0;
  }
}

.cd-panel-contact .cd-panel__container {
  background-color:rgb(239, 224, 206);
}

.cd-panel-about .cd-panel__container {
  background-color:rgb(215, 180, 255);
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.cd-panel__content p {
  font-size:1em;
}

@media(max-width: 300px) {

  .cd-panel__container {
    top: 58px;

  }

  .cd-panel__content p {
  font-size:0.7em;
}

}









