
.cd-panel-about, .cd-panel-contact {
  /*...*/
  visibility: hidden;
  transition: visibility 0s 1s;
/*  overflow: scroll;*/
}

.cd-panel-about.cd-panel--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;

}

.cd-panel-contact.cd-panel--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;

}

.cd-panel__container {
  width: 75vw;
  height: 100vh;
  top: 58px;
  position: fixed;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.3s;
  margin: 92px 0 -1px 0;
  color:white;
  padding:20px;
  z-index:930;
  overflow: scroll;

}
.cd-panel__content {
overflow: scroll;
}

.cd-panel__content p {
  text-align:justify;
  max-width:700px;
  }

.cd-panel-contact .cd-panel__container {
  background-color:rgb(239, 224, 206);
}

.cd-panel-about .cd-panel__container {
  background-color:rgb(215, 180, 255);
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.cd-panel__content p {
  font-family: 'Raleway', sans-serif;

}

.cd-panel__content p:last-child {
  margin-bottom:40px;

}

.cd-panel-about .cd-panel__content {
  font-size:1em;
}

.cd-panel-contact .cd-panel__content p {
  font-size:2em;
  text-align:center;
}


@media(max-width: 700px) {
  .cd-panel__container {
    overflow: scroll;
    height:100vh;
    width: 80%;
  }

  .cd-panel__content {
    padding-bottom: 100px;
    padding-top:100px;
  }

  .cd-panel-about .cd-panel__content p {
    font-size:0.7em;
  }

  .cd-panel-contact .cd-panel__content p {
    font-size:2em;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .cd-panel__container {
    margin: 29em 0 0 0;
    overflow: scroll;
    height:100vh;
    width: 80%;
  }

  .cd-panel__content {
    padding: 0 2vh;
  }


  .cd-panel-about .cd-panel__content p {
    font-size: 0.9em;
  }

  .cd-panel-contact .cd-panel__content p {
    font-size:2em;
  }
  }
