@import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway+Dots|Raleway:500,700&display=swap");
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/clouds.css");
@import url("components/sliders.css");
@import url("components/footers.css");
@import url("components/headers.css");
@import url("components/typewriter.css");
@import url("components/content.css");
@import url("components/floating.css");
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

body {
  font-family: 'Poiret One', sans-serif;
  background-color: white;
  margin: 0; }

.mt-big {
  margin-top: 100px; }

h3 {
  font-family: 'Quicksand', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif; }

.site-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
          perspective: 2px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.headline {
  height: 20vh; }

@media only screen and (max-width: 550px) {
  .display, .bio, .port-img {
    width: 70vw; } }
