@import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway+Dots|Raleway:500,700&display=swap");
@import url("components/banner.css");
@import url("components/sliders.css");
@import url("components/footers.css");
@import url("components/headers.css");
@import url("components/content.css");
@import url("components/cards.css");
@import url("components/floating.css");
@import url("components/carousel.css");

.under-nav {
  margin: 310px auto 0 auto;
}

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.space-around {
  justify-content: space-around; }

body {
  font-family: 'Poiret One', sans-serif;
  background-color: white;
  margin: 0; }

.mt-big {
  margin-top: 100px; }

.mb-big {
  margin-bottom: 100px; }

h3 {
  font-family: 'Quicksand', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif; }

.site-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
          perspective: 2px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

@media only screen and (max-width: 550px) {
  .display, .bio, .port-img {
    width: 70vw; } }
