@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}


body {
  background-color: var(--color-background);
  margin: 0; 
  font-family: 'Quicksand', sans-serif;
}

h1 {font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none;
  color: var(--color-links)
}

a:hover {
  color: var(--color-links-hover);
}

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

.main-title {
  color: var(--vt-c-black-soft);
}

.banner {
  padding-top: 30px;
  background: url('images/clouds3.jpg');
  background-size:cover;
  height: 100vh;
}

.display-box {
  padding: 20px;
  background:white;
  margin:30px auto 30px auto;
  width:70vw;
  border-radius:20px;
  color: grey;
  font-family:'Courier New', Courier, monospace
}


i {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-text);
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  i {
    top: calc(50% - 25px);
    left: -26px;
    position: absolute;
    border: 1px solid var(--color-border);
    background: var(--color-background);
    border-radius: 8px;
    width: 50px;
    height: 50px;
  }
}
