  <div class="container">
    <div class="header-nav-desktop">
      <div class="headline">
        <h1>Sadie May</h1>
        <h3>Fullstack Developer</h3>
        <div class="nav">
          <a href="#" class="portfolio-button-before">My Work</a>
          <a href="#" class="toggle-button-about">About</a>
          <a href="#" class="toggle-button-contact">Hire Me</a>
      </div>
      </div>

    </div>
    <div class="banner parallax">
    </div>
    <div class="content">

    </div>
    <div class="floating-1">
      <img src="images/cutout-1.png" alt="">
    </div>


<!--     floating stuff  -->


  </div>
